@import "../colors";

.header {
    background-color: $primary;
    height: 100px;
    display: flex;
    padding: 0 20px;
    align-items: center;

    .app-logo {
        height: 40px;
    }

    .app-name {
        font-size: 22px;
        color: white;
        margin-left: 12px;
    }
}
